<div class="p-4 m-3 d-flex justify-content-center">
    <form class = "p-3 alert-success" action="buscador" method="GET">


        <table class="table-responsive">
            <tr>
                <td> 
                    <select name="tituloOAutor" id="" class="form-control">
                        <option value="titulo">Título</option>
                        <option value="autor">Autor</option>
                    </select> 
                </td>

                <td>
                    <input type="text" name="buscaLibro" id="buscaLibro" class="form-control" placeholder="Buscar libro">
                </td>

                <td>
                    <select name="buscaGenero" id="" class="form-control">
                        <option value="nada">Seleccione género</option>
                        {% for genero in generos %}
                        <option value="{{ genero.id }}">{{ genero.nombre }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <input type="submit" value="Buscar" id="" class="btn btn-info btn-block">
                </td>

            </tr>

        </table>
        
    </form>

</div>

<!-- 
<div class="row p-3 alert-info" style="border: 2px solid black">

    <div class="col-2 w-100 d-md-block">
        <select name="tituloOAutor" id="" class="form-control">
            <option value="titulo">Título</option>
            <option value="autor">Autor</option>
        </select>
    </div>

    <div class="col-4 w-100 d-md-block">
        <input type="text" name="buscaLibro" id="buscaLibro" class="form-control" placeholder="Buscar libro">
    </div>

    <div class="col-4 w-100 d-md-block">
        <select name="buscaGenero" id="" class="form-control">
            <option value="nada">Seleccione género</option>
            {% for genero in generos %}
            <option value="{{ genero.id }}">{{ genero.nombre }}</option>
            {% endfor %}
        
        </select>
    </div>

    <div class="col-2 w-100 d-md-block">
        <input type="submit" value="Buscar" id="" class="btn btn-info btn-block">
    </div>
</div> -->