{% extends "layouts/app.html" %}

{% block titulo_pagina %}
	Pagina de incio - Biblioteca EnlaceLibre----	
{% endblock titulo_pagina %}


{% block contenido_app %}
    <div class="alert-warning m-3 p-3">
        <h5 align="center">Bienvenido a la Biblioteca de publicaciones con licencias libres.</h5>
    </div>
    
    {% include "buscador.html" %}

   
    {% load static %}
    <img src="{% static 'recursos/imagenes/ultimos-libros.png' %}" class="img-fluid" alt="Ultimos Libros Agregados">
  
      
    <div class="card-deck m-3 p-3">
            {% for libro in libros %}
            <div class="card p-2 m-2 alert-info" style="box-shadow: 2px 2px 10px #6dd9e7; width: 18rem; 
            border: solid 2px green;">
                <img src="{{ libro.imagen.url }}" class="rounded mx-auto d-block mt-3 img-fluid" width="250" style="border:1px solid; box-shadow: 2px 2px 4px #000000;" alt="tapa">
                <div class="card-body">
                  <h5 class="card-title">{{ libro.titulo }} </h5>
                  <h6 class="card-title">{{ libro.autor }} </h6>
                  <p class="card-text">{{ libro.descripcion }}</p>
                  <p class="card-text"><small class="text-muted">{{ libro.genero_id }}</small></p>
                  <a href="{{ libro.enlace_libro.url }}" class="btn btn-primary btn-block" target="_blank">Descargar</a>
                </div>
            </div>
            {% endfor %}  
    </div>


    <div class="pagination ml-5 mb-5">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; Primero </a> ///
              <a href="?page={{ page_obj.previous_page_number }}">Previo</a>
          {% endif %}
  
          <span class="current">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> /// 
              <a href="?page={{ page_obj.paginator.num_pages }}"> Último &raquo;</a>
          {% endif %}
      </span>
  </div>
    

{% endblock %}
