{% extends "layouts/app.html" %}

{% block contenido_app %}

{% if form.errors %}
<p class="p-2 alert-danger text-center animate__animated animate__fadeInRightBig">Usuario y/o clave incorrectos</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="alert-danger p-2 text-center animate__animated animate__fadeInRightBig">Tu cuenta no posee acceso a la página.</p>
    {% else %}
    <p class="alert-danger p-2 text-center animate__animated animate__fadeInRightBig">Ingrese para ver esta página.</p>
    {% endif %}
{% endif %}
<div class="alert-info text-center mt-3" style="
                                            margin: auto; 
                                            width: 60%;
                                            border: 3px solid #040d85;
                                            padding: 10px;">
    <form method="post" class="form p-5" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
        <td class="label">{{ form.username.label_tag }}</td>
    <br>
        <td class="form-control">{{ form.username }}</td>
    </div>
    <br>
    <div>
        <td>{{ form.password.label_tag }}</td>
    <br>
        <td class="form-control">{{ form.password }}</td>
    </div>
    <br>
        <div>
        <input type="submit" value="Ingresar" class="btn btn-info"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

</div>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}