{% extends "layouts/app.html" %}

{% block contenido_app %}

    {% load crispy_forms_tags %}
    <div class="row d-flex justify-content-center">
        <div class="m-5 p-5 alert-info" style="width:400px;"> 
        <h2 align="center">Registro de usuario</h2>
        <br>
        <form method="post">
        {% csrf_token %}
            
            {{ form|crispy }}
        
            <button type="submit" class="btn btn-primary btn-block">Crear usuario</button>
        </form>
    </div>
    </div>


{% endblock %}