
{% extends "layouts/app.html" %}

{% block contenido_app %}

<h1 class="m-5 titulo1">Ingreso de usuario a Biblioteca EnlaceLibre</h1>



{% load crispy_forms_tags %}
<div class="row d-flex justify-content-center">
    <div class="m-5 p-5 alert-danger" style="width:400px;"> 
      <h2 align="center">Ingresar</h2>
      <br>
      <form method="post">
      {% csrf_token %}
        
        {{ form|crispy }}
    
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
      </form>
  </div>
</div>


{% endblock %}