{% extends "layouts/app.html" %}

{% block contenido_app %}

<h1 class="m-5 titulo1">Formulario de registro de usuario</h1>


{% load crispy_forms_tags %}
<div class="row d-flex justify-content-center">
    <div class="m-5 p-5 alert-info" style="width:400px;"> 
    <h2 align="center">Registro</h2>
    <br>
    <form method="post">
    {% csrf_token %}
        
        {{ form|crispy }}
    
        <button type="submit" class="btn btn-primary btn-block">Crear usuario</button>
    </form>
</div>
</div>

{% endblock %}

    
