<!doctype html>
<html lang="ES">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="{% static 'recursos/imagenes/logo-enlace-libre.png' %}">

    <!-- link a bootstrap, sweetalert2  y Datatables-->
    <link rel="stylesheet" href="{% static 'recursos/bootstrap-local/css/bootstrap.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'recursos/sweetAlert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'recursos/animatecss/animate.min.css' %}">

    <!-- Local -->
    <link rel="stylesheet" href="{% static 'recursos/css/estilo_local.css' %}">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'recursos/fontawesome-free-5.15.2-web/css/all.min.css' %}">

    <title>{% block titulo_pagina %} {% endblock %}</title>

</head>
<body>
    <div id="app">

        <main>
            {% include "layouts/barraSuperior.html" %}


            {% if messages %}
                {% for message in messages %}
                    <div class="alert-danger animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
                {% endfor %}
            
                {% endif %}


            {% block contenido_app %} 
            
               
            
            {% endblock %}

        </main>
    </div>

<!-- #region ZONA DE SCRIPTS -->

    <!-- FONT AWESOME PARA ICONOS -->
    <script src="{% static 'recursos/fontawesome-free-5.15.2-web/js/all.min.js' %}"></script>

    <!-- scripts a Jquery, bootstrap, sweetAlert2 y DataTables  -->
    <script src="{% static 'recursos/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'recursos/js/traeGeneros.js' %}"></script>
    <script src="{% static 'recursos/bootstrap-local/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'recursos/sweetAlert2/sweetalert2.all.min.js' %}"></script>
  



    <!-- #endregion -->

</body>
</html>
