<nav class="navbar navbar-expand-lg navbar-light bg-info">
    {% load static %}
  <a class="navbar-brand  animate__animated animate__bounce" href="/"><img src="{% static 'recursos/imagenes/biblioteca-enlace-libre.png' %}" class="img-fluid" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="items-navegacion">
        
        <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Géneros
            </a>
            <div class="dropdown-menu animate__animated animate__fadeInUp" aria-labelledby="navbarDropdownMenuLink" id="generos_nombre">
                <!-- {% for genero in generos %}
                    <a href="{{ genero.nombre }}" class="dropdown-item alert-warning">{{ genero.nombre }}</a>
                {% endfor %} -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Info
            </a>
            <div class="dropdown-menu animate__animated animate__fadeInUp" aria-labelledby="navbarDropdownMenuLink">
                <a href="/ayuda/proyecto" class="dropdown-item alert-warning">Proyecto</a>
                <a href="/ayuda/edita" class="dropdown-item alert-warning">Editá</a>
                <a href="/ayuda/colabora" class="dropdown-item alert-warning">Colaborá</a>
                <a href="/ayuda/cultura-libre" class="dropdown-item alert-warning">Cultura Libre</a> 
                <a href="/blog" class="dropdown-item alert-warning">Blog</a> 
            </div>
        </li>

      
        </ul>
    </div>

      <!-- Right Side Of Navbar -->
        <ul style="float:right;">            
        <!-- Authentication Links -->
                
            {% if user.is_authenticated %}
                
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuario: {{ user.username }} 
                    </a>
                    
                    <div class="dropdown-menu animate__animated animate__fadeInUp" aria-labelledby="navbarDropdownMenuLink">
                     
                        <a class="dropdown-item alert-warning" href="/libros/cargarLibro">Cargar libro nuevo</a>
                        <a class="dropdown-item alert-warning" href="/biblioteca/">Mis Libros</a>
                        <a class="dropdown-item alert-warning" href="/perfiles/{{ user.id }} ">Modificar mis datos</a>   
                        <a class="dropdown-item alert-warning" href="/usuarios/salir">Salir</a>    
                    </div>
                </div>

            {% else %}
                <div class="nav-item" style="float:left;">
                    <a class="nav-link" href="/usuarios/accounts/login/"><span class="text-light"><i class="fas fa-user-lock"></i> Ingresar</span></a>
                </div>
                <div class="nav-item" style="float:right;">
                    <a class="nav-link" href="/usuarios/registrar"><span class="text-light"><i class="fas fa-user-astronaut"></i> Registrarse</span></a>
                </div>

            {% endif %}
       
        </ul>

       


</nav>









  