{% extends "layouts/app.html" %}

{% block contenido_app %}

<h1 class="m-5 titulo1">Cargar libros a la Biblioteca EnlaceLibre</h1>

<div class="container">
    <form action="recibeExternos" class = "form" method="POST" enctype ="multipart/form-data">
        {% csrf_token %}
        <div class="text-center p-5 m-5 alert-warning">
            <label for="libros">Cargar carpeta de libros</label>
            <input type="file" id="libros" name="libros" class="form-controls" multiple>
            <button class = "btn btn-info btn-block" type="submit" id="submit">Cargar libros</button>
        </div>

        {% for error in field.errors %}
    <h2 class="text-danger">{{ error }}</h2>
{% endfor %}
    </form>
</div>



{% endblock %}