{% extends "layouts/app.html" %}

{% block contenido_app %}

<h1 class="m-5 titulo1">Cargar nuevo libro</h1>

{% load crispy_forms_tags %}
<div class="container">
    <form class = "form" method="POST" enctype ="multipart/form-data">
        {% csrf_token %}
        <div class="text-center p-5 m-5 alert-warning">
        
            {{  form|crispy }}
            <button class = "btn btn-info btn-block" type="submit" id="submit">Cargar</button>
        </div>

        {% for error in field.errors %}
    <h2 class="text-danger">{{ error }}</h2>
{% endfor %}
    </form>
</div>

{% endblock %}