{% extends "layouts/app.html" %}

{% block titulo_pagina %}
	Listado de libros por género	
{% endblock titulo_pagina %}


{% block contenido_app %}

<h1 class="m-5 titulo1">Listado por Género: {{ genero }}</h1>


{% if libros %}
            
    <div class="container mt-4">
        
        <div class="table-responsive mt-3">
            <table class="table table-info table-bordered table-hover">
                <thead>
                    <tr class="text-center table-primary">
                        <th>Fecha Alta:</th>
                        <th>Título</th>
                        <!-- <th>Género</th> -->
                        <th>Descripción</th>
                        <th>Autor</th>
                        <th>Tapa</th>
                        <th>Descargar</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr>
                        <td>{{ libro.fecha_creacion }}</td>
                        <td>{{ libro.titulo }}</td>
                        <!-- <td>{{ libro.genero_id }}</td> -->
                        <td>{{ libro.descripcion }}</td>
                        <td>{{ libro.autor }}</td>
                        <td><img src="{{ libro.imagen.url }}" width="200px" alt="Libro"></td>
                        <td class="text-center"><a href="{{ libro.enlace_libro.url }}" target="_blank"> <button class="btn btn-success"><i class="fas fa-cloud-download-alt"></i></button></a></td> 
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

   


    <div class="pagination ml-5 mb-5">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primero </a> ///
                <a href="?page={{ page_obj.previous_page_number }}">Previo</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> /// 
                <a href="?page={{ page_obj.paginator.num_pages }}"> Último &raquo;</a>
            {% endif %}
        </span>
    </div>


{% else %}

    <h2 align="center" class="text-danger alert-danger p-3">Por el momento no hay libros en esta categoría</h2>


{% endif %}


{% endblock %}