{% extends "layouts/app.html" %}

{% block contenido_app %}

{% load static %}

<div class="container mt-4">
    <img src="{% static 'recursos/imagenes/colabora02.png' %}" class="img-fluid" alt="Colaborá">
    <div class="alert-warning p-4">
        <p>Este sitio se encontraba originalmente realizado en Laravel y lo migré a Django. Los repos de ambos se  encuentran <a href="https://gitlab.com/enlacepilar/">Gitlab</a>. </p> 
        <p> Para clonarlo o realizar mejoras, hacé clic <a href="https://gitlab.com/enlacepilar/enlace-libre-django.git" target="_blank">acá</a> </p>
        <p>Sos libre de (basado en las 4 libertades del Software Libre):</p>
        <p>-Clonar el repositorio y usarlo con cualquier propósito.
        <p>-Poder estudiar el código y modificarlo.</p>
        <p>-¡Poder compartir el repositorio o avisarle a alguien más!</p>
        <p>-Poder mejorar el sitio y poder compartir dichas mejoras para beneficio de todos.</p>
        <br>
        <hr>
        <p>También agregué una nota descriptiva sobre este sitio <a href="https://tecnico-ligero.enlacepilar.com.ar/posts/2021/biblioteca-enlacelibre.html">acá.</a></p>
        <hr>
        <p class="alert-info p-2" align="center">Si querés colaborar en este proyecto, <a href="mailto:enlacepilar@protonmail.com">escribime.</a></p>

        <hr>

        <h2>Trabajá en tu propio proyecto</h2>

        <p>Como he mencionado más arriba, hay un repositorio listo para ser clonado, pero no sólo para colaborar, también la idea es que lo mejores para tu 
            propia idea. A lo mejor para un sitio que muestre alguna documentación. Por ejemplo, todas estas secciones pueden ser eliminadas o regeneradas, 
            no es demasiado importante que permanezcan. O simplemente podés borrar el contenido, dejar los nombres de los archivos HTML y poder títulos con otras 
            menciones u objetivos. Las posibilidades son infinitas y solo depende de lo que puedas imaginar.
            En términos generales, con el sitio podés:
        </p>
        <ul>
            <li>Registrar usuarios.</li>
            <li>Subir archivos en PDF con fotos (esto no quita que tocando un poco los modelos permitas otros formatos que los permitidos actualmente).</li>
            <li>Escribir en un pequeño blog como administrador, el cual debés registrar.</li>
        </ul>

        <p>Django es, en líneas generales, bastante intuitivo de aprender, sobre todo si te gusta Python. Confieso que antes me parecía un cuco y por eso me decanté 
            por Flask, mucho más sencillo pero más limitado, al menos con lo que viene precargado quiero decir, y cuando quise avanzar a algo más robusto me fui a 
            Laravel, pero estaba nuy equivocado. Te invito a que pruebes este marco, borres todo este contenido y trabajes en tu proopio desarrollo a partir de este.
        </p>
    </div>
</div>
{% endblock  %}