body{
  background-image: url("../imagenes/fondo-libre1.jpg");
}

#items-navegacion
{
    text-shadow: 1px 1px 2px rgb(248, 205, 169), 0 0 1em rgb(240, 77, 28), 0 0 0.2em rgb(241, 241, 245);
    color: rgb(60, 14, 224);
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.botonera_y_paginacion{
  margin: auto;
  width: 50%;
  /* border: 0px solid green; */
  background: rgb(243, 218, 172);
  box-shadow: 10px 5px 5px rgb(49, 48, 48);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.librosPrincipal{
  width: 18rem; 
  height:800px; 
  float:left; 
  border: solid 2px green;
}

#tabla-resultados{
  margin: auto;
  width: 100%;
}

.titulo1{
  text-align: center;
}

  
  
  