{% extends "layouts/app.html" %}

{% block titulo_pagina %}
	Borrar Libro	
{% endblock titulo_pagina %}

{% block contenido_app %}

<div class="container">

    <h2>Borrar Libro</h2>

    <form method="post" class="form">
        {% csrf_token %}
        ¿Seguro que querés borrar: "{{ object }}"?
        <br>
        <input class="btn btn-danger" type="submit" value="Sí, borrar"/>
    </form>
</div>

{% endblock %}