{% extends "layouts/app.html" %}

{% block titulo_pagina %}
	Actualizar datos del libro	
{% endblock titulo_pagina %}


{% block contenido_app %}

{% load crispy_forms_tags %}

<div class="container m-5">
    <h2>Actualizar datos Libro</h2>
    <form method="post" class="form">
        {% csrf_token %}

        {{  form|crispy }}
        <input type="submit" class="btn btn-warning btn-block" value="Actualizar" />
    </form>
</div>

{% endblock %}