{% extends "layouts/app.html" %}

{% block titulo_pagina %}
	Mis Libros	
{% endblock titulo_pagina %}


{% block contenido_app %}


<h1 align="center" class="mt-2">Los libros que cargaste:</h1>
    
        <div class="text-center"><a href="/libros/cargarLibro" class="btn btn-outline-primary"><i class="fas fa-pen-alt"></i> Ingresar un libro nuevo</a></div>


{% if libros %}

    <div class="container mt-4">
        
        <div class="table-responsive mt-3">
            <table class="table table-info table-bordered table-hover">
                <thead>
                    <tr class="text-center table-primary">
                        <th>Fecha Alta:</th>
                        <th>Título</th>
                        <th>Género</th>
                        <th>Descripción</th>
                        <th>Autor</th>
                        <th>Tapa</th>
                        <th>Descargar</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr>
                        <td>{{ libro.fecha_creacion }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.genero_id }}</td>
                        <td>{{ libro.descripcion }}</td>
                        <td>{{ libro.autor }}</td>
                        <td><img src="{{ libro.imagen.url }}" width="200px" alt="Libro"></td>
                        <td class="text-center"><a href="{{ libro.enlace_libro.url }}" target="_blank"> <button class="btn btn-success"><i class="fas fa-cloud-download-alt"></i></button></a></td>        
                        <td class="text-center"><a href="{% url 'libro_actualizar' libro.id %}" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
                        <td class="text-center"><a href="{% url 'libro_borrar' libro.id  %}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                    
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

   


    <div class="pagination ml-5 mb-5">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primero </a> ///
                <a href="?page={{ page_obj.previous_page_number }}">Previo</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> /// 
                <a href="?page={{ page_obj.paginator.num_pages }}"> Último &raquo;</a>
            {% endif %}
        </span>
    </div>


{% else %}

    <p>No hay libros</p>


{% endif %}


{% endblock %}