{% extends "layouts/app.html" %}


{% block titulo_pagina %}
	Blog - Categorias	
{% endblock titulo_pagina %}

{% block contenido_app %}

<section class="page-section cta">
  <div class="container">
    {% for publicacion in publicaciones  %}

      <div class="row alert-warning m-2 p-3">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">{{ publicacion.publicado|date:"SHORT_DATE_FORMAT"}}</span>
              <span class="section-heading-lower">{{ publicacion.titulo }}</span>
            </h2>
            <p class="mb-2">
              <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ publicacion.imagen.url }}" alt="Imagen">
            </p>
            <p class="mb-0 mbt">
              {{ publicacion.contenido|linebreaks }}
            </p>
            <p class="mb-0 mbt">
              <span class="section-heading-under">Publicado por <em><b>{{ publicacion.autor }}</b></em> en 
                <em>
                {% for categoria in publicacion.categorias.all %}
                  <a href="{% url 'categoria' categoria.id %}" class="link">{{ categoria.nombre }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </em>
              </span>
            </p>
            {% if user.is_authenticated %}
              <br>
              <a href="{% url 'admin:blog_publicacion_change' publicacion.id %}" class="link">Editar publicacion</a>
            {% endif %}
          </div>

        </div>
      </div>

    {% endfor %}
  </div>
</section>
	
{% endblock %}